<h3>Details for <strong><%= @user_name %></strong></h3>

<h4>Email address:</h4>
<p><%= @email %> </p>

<h4>Interests:</h4>
<p><%= @interests.join(', ') %></p>

<h5>Other users:</h5>
<ul>
  <% @data.each do |name, _| %>
    <% unless name == @user_name %>
      <li><a href="<%= name %>"><%= name %></a></li>
    <% end %>
  <% end %>
</ul>
