<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <% if @results.empty? %>
    <p>Sorry, no results found for '<%= params[:query] %>'</p> 

  <% else %>
    <h2 class="content-subhead"> Results for '<%= params[:query] %>'</h2>

    <ul>
      <% @results.each do |result| %>
        <li><h3><%= result[:name] %></h3></li>

        <ul>
        <% result[:paragraphs].each do |p_num, paragraph| %>        
          <li><a href="/chapters/<%= result[:number] + 1%>#paragraph_<%= p_num %>"><%= highlight_results(paragraph, params[:query]) %></a></li>
        <% end %>
        </ul>
        
        
      <% end %>
    </ul>
  <% end %>

<% else %>
  <p>Please enter a keyword</p>
<% end %>

